.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  padding-top: 80px;
  background: #ffc0c0;
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  clip-path: circle(0 at calc(100% - 120px) 120px);
  /* circle(半径 at x座標 y座標) */
  /* X座標: 要素の右端から100px左
     Y座標: 要素の上から100px下 */
  transition: clip-path 3s ease;
}

.hamburger-menu.open {
  clip-path: circle(1200px at top right);
}

.hamburger-menu ul {
  list-style: none;
  margin: 0;
  padding: 30px 10px;
}

.hamburger-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 50px;
  font-size: 1.3rem;
  color: #1e293b;
  transition: 0.3s;
}

.hamburger-menu li:hover {
  transform: translateY(-4px);
}

.hamburger-menu i {
  font-size: 1.4rem;
  opacity: 0.85;
  color: #1e293b;
}

/* サイドバー閉じるアイコン */
.fa-xmark {
  position: fixed;
  top: 60px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
