<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h1 class="h3">通知 下書き一覧</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render "notifications_table",
            notifications: @notifications,
            title: "下書き中の通知",
            link_text: "公開中一覧はこちら >",
            link_path: published_admin_notifications_path %>
    </div>
  </div>
</div>