<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-bold">
          <i class="fa-solid fa-bell"></i> 通知 編集画面
        </h3>
      </div>
      <%= render "admin/notifications/form" %>
    </div>
  </div>
</div>
