<%= render "admin/notifications/header" %>

<div class="container-fluid">
  <%= render "notifications_table",
        notifications: @recent_notifications,
        title: "通知一覧",
        link_text: nil,
        link_path: nil %>
</div>