<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <h1 class="h3">通知 公開一覧</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <%= render "notifications_table",
          notifications: @notifications,
          title: "公開中の通知",
          link_text: "下書き一覧はこちら >",
          link_path: draft_admin_notifications_path %>
    </div>
  </div>
</div>