<section class="feature-three-section">
  <section class="feature-one-title-section">
    <div class="feature-one-title-container">
        <div class="feature-header fade-up">
          <p class="feature-number">
            FEATURE <span>03</span>
          </p>
        </div>

        <div class="feature-heading-group">
          <h2 class="feature-title fade-up delay-1">
            単語テストを<br>見える化
          </h2>
        </div>

        <div class="feature-description fade-up delay-3">
          <p class="feature-subtitle">
            普段の単語テストの点数を記録して<br>
            学習を可視化しよう。
          </p>
        </div>
      </div>
  </section>
</section>