<section class="feature-one-title-section">
    <div class="feature-one-title-container">
      <div class="feature-header fade-up">
        <p class="feature-number">
          FEATURE <span>01</span>
        </p>
      </div>

      <div class="feature-heading-group">
        <h2 class="feature-title fade-up delay-1">
          やるべき宿題が<br>すぐ分かる
        </h2>
      </div>

      <div class="feature-description fade-up delay-3">
        <p class="feature-subtitle">
          欠席した時・振替授業でも安心して宿題ができます。
        </p>
      </div>
    </div>
</section>