<section class="feature-two-section">
  <section class="feature-two-title-section">
    <div class="feature-two-title-container">
        <div class="feature-header fade-up">
          <p class="feature-number">
            FEATURE <span>04</span>
          </p>
        </div>

        <div class="feature-heading-group">
          <h2 class="feature-title fade-up delay-1">
            先生からの通知が<br>すぐ届く
          </h2>
        </div>

        <div class="feature-description fade-up delay-3">
          <p class="feature-subtitle">
            計画的に月例単語テストの<br>
            学習ができます。
          </p>
        </div>
      </div>
  </section>
</section>