.lp-page-container {
  max-width: 1300px;
  margin: 0 auto;
  height: 90vh;
  padding: 80px 24px 50px;

  @media (max-width: 768px) {
    height: auto;
    padding: 27px 10px 150px;
  }
}

.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo image {
  width: 40px;
  height: 40px;

  @media(max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.logo h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;

  @media (max-width: 768px) {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

/* ロゴマーク */
.logo-header i {
  position: fixed;
  z-index: 2000;
  top: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: #ff5757;
  border-radius: 30px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: all 1s ease;

  @media (max-width: 768px) {
    top: 16px;
    right: 16px;
    width: 52px;
    height: 52px;
    font-size: 22px;
    border-radius: 16px;
  }
}

.logo-header i.active {
  transform: rotate(90deg);
  background-color: #fff;
  color: #ff5757;
}


.sub-title-container {
  margin: 100px;

  @media (max-width: 768px) {
    margin: 40px 16px;
  }
}

.sub-title-container h1 {
  letter-spacing: 1px;
  color: #141c2e;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;

  @media (max-width: 768px) {
    font-size: 33px;
  }
}