<% types = Notification.notification_types %>
<% filter_buttons = {
  "すべて"         => nil,
  "宿題の訂正"     => types["homework_correction"],
  "月例単語テスト" => types["monthly_vocab_test"],
  "イベント"       => types["event"],
  "英検結果"       => types["eiken_result"],
  "お知らせ"       => types["information"],
  "その他"         => types["others"]
} %>

<header class="notification_header">
  <p>Messages from teachers</p>
  <h3>お知らせ <i class="fa-regular fa-comment-dots"></i></h3>
  <div class="notification_filter">
    <% filter_buttons.each do |label, value| %>
      <%= link_to label,
            notifications_path(value ? { q: { notification_type_eq: value } } : {}),
            class: "notification_filter_btn #{'active' if filter_active?(value)}" %>
    <% end %>
  </div>
</header>