<header class="tracker-header">
  <p class="tracker-lang">Vocabulary</p>
  <h1><%= current_user.name %>さんの単語テスト記録</h1>

  <% if @scores.any? %>
    <%= render "vocabulary_tests/user_score" %>
  <% end %>
</header>