<div class="modal-background" id="modal">
  <div class="modal-inner">
    <i id="modal-close" class="fa-solid fa-circle-xmark"></i>
    <div class="search-tip">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i>
        検索のコツ
      </h3>
      <p class="fw-bold">💡 数字は「半角」で入力！</p>
      <p class="fw-bold">💡「全角数字」「漢数字」は検索で引っかかりません。</p>
      <p class="fw-bold">💡 クラス名とWeekの間には「半角空白」を入れてください。</p>

      <div class="search-tip-item">
        <strong>☑️ クラス名で探す</strong>
        <p>例：小学生高学年5級、小学生3級、準2級</p>
      </div>

      <div class="search-tip-item">
        <strong>☑️ Weekで探す</strong>
        <p>例：Week10、Week24</p>
      </div>

      <div class="search-tip-item">
        <strong>☑️ クラス名 + Weekで探す</strong>
        <p>例：準1級 Week10、小学生低学年 Week24</p>
      </div>
    </div>
  </div>
</div>