<%= render "shared/header" %>

<div class="homework-index-container">

    <div class="eiken-level-tabs-wrapper">
      <div class="eiken-level-tabs">
      
      </div>
    </div>  

    <h1 class="page-title">宿題一覧</h1>
    
</div>
