<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title fw-bold">宿題 編集</h3>
      </div>
      <%= render "admin/homeworks/form" %>
    </div>
  </div>
</div>